<root>
	<menu>
    
<!-- Nick Wergeles changed this for the SLU app July 23,2014 -->

		<item type="select" file="MorningReportParcel.xml" name="MORNING_REPORT">Morning Report</item>
		<item type="select" file="InitialDrinkingParcel.xml" name = "INITIAL_DRINKING">Initial Drinking</item>
		<item type="select" file="MoodDysregulationParcel.xml" name = "MOOD_DYSREGULATION">Mood Change</item>

<!-- End of Nick's changes -->		
	
	</menu>

</root>